{% extends "layout.html" %}
{% block title %}Nueva coleccion{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/select2.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Nuevo modelo</div>
                <div class="card-body">

                    <form class="form-horizontal" method="POST" action="{{ url_for('model.crear') }}" novalidate
                        enctype="multipart/form-data">
                        <!-- Agregado el atributo enctype para permitir la carga de archivos -->
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="form-group row justify-content-center">
                                <label for="nombre" class="col-md-8 col-form-label text-md-left">{{ form.nombre.label
                                    }}</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder=""
                                        value="{{ form.nombre.data }}" required>
                                    {% for error in form.nombre.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="descripcion" class="col-md-8 col-form-label text-md-left">{{
                                    form.descripcion.label }}</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                                        placeholder="" value="{{ form.descripcion.data }}" required>
                                    {% for error in form.descripcion.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="tipo" class="col-md-8 col-form-label text-md-left">Tipos</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="tipo" name="tipo">
                                        {% for tipo in tipos %}
                                        <option value="{{tipo.id}}">{{tipo.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- Agregado el campo de carga de archivos -->
                            <div class="form-group row justify-content-center">
                                <label for="foto" class="col-md-8 col-form-label text-md-left">Foto</label>
                                <div class="col-md-8">
                                    <input type="file" id="foto" name="foto" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary">Cargar</button>
                                <button type="reset" class="btn btn-primary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
