{% extends 'base.html' %}

{% block title %}Creación de colección{% endblock%}

{% block header %}
<h1>Creación de colección</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }} {# Agrega un campo oculto para protección CSRF #}
    <p><label for="{{ form.nombre.id }}">Nombre</label></p>
    <p>{{ form.nombre(size=40, required="required") }}</p>
    <p><input type="submit" value="Create" name="create" id="create"></p>
    <p><input type="submit" value="Cancel" name="cancel" id="cancel" formnovalidate></p>
</form>
{% endblock %}
