{% extends "layout.html" %}
{% block title %}Nueva colección{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/select2.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="alert alert-success alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Nueva colección</div>
                <div class="card-body">
                    <form class="form" method="POST" action="{{ url_for('collection.crear') }}">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="form-group row justify-content-center">
                                <label for="nombre" class="col-md-10 col-form-label text-md-left">Nombre</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder=""
                                        value="{{ form.nombre.data }}">
                                    {% for error in form.nombre.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <label for="cantidad_muebles" class="col-md-10 col-form-label text-md-left">Cantidad de
                                    muebles</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="cantidad_muebles"
                                        name="cantidad_muebles" value="0" min="0">
                                    {% for error in form.cantidad_muebles.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group row justify-content-center">
                                <div class="col-md-10">
                                    <div class="card">
                                        <div class="card-header">Modelos a incluir</div>
                                        <div class="card-body">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                Nombre
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                Descripcion
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                Tipo
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                Incluir
                                                            </td>
                                                        </div>
                                                    </tr>
                                                    {% for modelo in modelos %}
                                                    <tr>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                {{modelo.name}}
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                {{modelo.descripcion}}
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                {{modelo.tipo.name}}
                                                            </td>
                                                        </div>
                                                        <div class="col">
                                                            <td class="col align-self-center">
                                                                <input type="checkbox" id="{{modelo.name}}"
                                                                    name="modelos[]" value="{{modelo.id}}" data-on="Si"
                                                                    data-off="No" data-toggle="toggle" data-size="sm">
                                                            </td>
                                                        </div>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-group row justify-content-center">
                                <label for="fecha_lanzamiento" class="col-md-10 col-form-label text-md-left">Fecha de
                                    Lanzamiento</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" id="fecha_lanzamiento"
                                        name="fecha_lanzamiento" placeholder=""
                                        value="{{ form.fecha_lanzamiento.data }}" required>
                                    {% for error in form.fecha_lanzamiento.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Cargar</button>
                                <button type="reset" class="btn btn-primary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}