{% extends "layout.html" %}
{% block title %}Nueva colección{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/select2.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="alert alert-success alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Reprogramar colección</div>
                <div class="card-body">
                    <form class="form" method="POST"
                        action="{{ url_for('collection.modificar_fecha', id_coleccion=coleccion.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <div class="form-group row justify-content-center">
                                <label for="fecha_lanzamiento" class="col-md-10 col-form-label text-md-left">Nueva fecha
                                    de lanzamiento</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" id="fecha_lanzamiento"
                                        name="fecha_lanzamiento" placeholder="" value={{coleccion.fecha_lanzamiento}}
                                        required>
                                    {% for error in form.fecha_lanzamiento.errors %}
                                    <span style="color:red;">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Cargar</button>
                                <button type="reset" class="btn btn-primary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}