{% extends "layout.html" %}
{% block title %}Nueva colección{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/select2.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                <div class="alert alert-success alert-dismissible">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %} 
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Selección de materiales</div>
                <div class="card-body">
                    <form class="form" method="POST" action="{{ url_for('collection.seleccion_materiales', id_coleccion=id_coleccion) }}">
                        {{ form.hidden_tag() }} {# Agrega un campo oculto para protección CSRF #}
                        <div class="form-group">
                             <!-- Agregamos bloque para mostrar errores -->
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field, errors in form.errors.items() %}
                                            {% for error in errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="form-group row justify-content-center">
                                <div class="col-md-10">
                                    <label for="fecha_entrega">Fecha recepción de materiales</label>
                                    <input type="date" id="fecha_entrega" name="fecha_entrega" class="form-control">
                                </div>
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <div class="col">
                                            <td class="col align-self-center">
                                                Nombre
                                            </td>
                                        </div>
                                        <div class="col">
                                            <td class="col align-self-center">
                                                Incluir
                                            </td>
                                        </div>
                                    </tr>
                                    {% for material in materiales %}
                                    <tr>
                                        <div class="col">
                                            <td class="col align-self-center">
                                                {{material.name}}
                                            </td>
                                        </div>
                                        <div class="col">
                                            <td class="col align-self-center">
                                                <input type="checkbox" id="{{material.name}}"
                                                    name="materiales[]" value="{{material.name}}" data-on="Si"
                                                    data-off="No" data-toggle="toggle" data-size="sm">
                                            </td>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-10">
                                <button type="submit" class="btn btn-primary">Cargar</button>
                                <button type="reset" class="btn btn-primary">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
