{% extends "layout.html" %}
{% block title %}Asignación de lotes{% endblock %}
{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='js/formulario_enviar.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "success" %}
    <div class="alert alert-success alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Asignación de lotes</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-10">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    Sede
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    Cantidad
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    Estado
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    *
                                                </td>
                                            </div>
                                        </tr>
                                        {% if lotes %}
                                        {% for lote in lotes %}
                                        <tr>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    {{lote.sede.name}}
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    {{lote.cantidad_lotes}}
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    {{lote.estado()}}
                                                </td>
                                            </div>
                                            <div class="col-md-3">
                                                <td class="col-md-3">
                                                    {% if not lote.entregado %}
                                                    <form method="POST"
                                                        action="{{ url_for('collection.enviar_lote', id_lote=lote.id) }}"
                                                        class="formulario-enviar" style="display: inline;">
                                                        <input class="btn btn-success btn-sm" type="submit"
                                                            value="Enviar">
                                                    </form>
                                                    {% else %}
                                                        <h6 style="color: green;">Lote enviado!</h6>  
                                                    {% endif %}
                                                </td>
                                            </div>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr class="col-md-3" colspan="4">
                                            <div class="col-md-3" colspan="4">
                                                <td class="col-md-3" colspan="4">
                                                    No hay lotes para asignar.
                                                </td>
                                            </div>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}